
#me{
  color: palevioletred;
  font-size: 250 we
  border-radius:200px ;
  background-color: pink;
}
#we { 
  background-image: url(/1767326991722.jpg)
  ;
background-size: cover;
font-size: 250%;
}
